{
    "name": "magento-2-gulp",
    "version": "1.5.0",
    "author": "Volodymyr Lisniak <thebobmotor@gmail.com>",
    "description": "Magento 2 node modules dependencies",
    "license": "MIT",
    "repository": {
        "type": "git",
        "url": "git://github.com/bobmotor/magento-2-gulp.git"
    },
    "devDependencies": {
        "@babel/core": "^7.13.10",
        "@babel/plugin-transform-runtime": "^7.13.10",
        "@babel/preset-env": "^7.13.10",
        "browser-sync": "^2.26.14",
        "del": "^6.0.0",
        "eslint": "^7.22.0",
        "eslint-plugin-import": "^2.22.1",
        "eslint-plugin-promise": "^4.3.1",
        "eslint-plugin-standard": "^4.1.0",
        "exec-queue": "0.0.2",
        "gulp": "^4.0.2",
        "gulp-babel": "^8.0.0",
        "gulp-cache": "^1.1.3",
        "gulp-changed": "^4.0.2",
        "gulp-clean": "^0.4.0",
        "gulp-color": "0.0.2",
        "gulp-concat-css": "^3.1.0",
        "gulp-cssmin": "^0.2.0",
        "gulp-expect-file": "^1.0.2",
        "gulp-if": "^3.0.0",
        "gulp-less": "^4.0.1",
        "gulp-livereload": "^4.0.2",
        "gulp-load-plugins": "^2.0.6",
        "gulp-prettier-eslint": "^1.1.0",
        "gulp-rename": "^2.0.0",
        "gulp-replace": "^1.0.0",
        "gulp-sourcemaps": "^3.0.0",
        "lint-staged": "^10.5.4",
        "penthouse": "^2.3.2",
        "plugin-error": "^1.0.1",
        "require-dir": "^1.2.0",
        "stylelint": "^8.4.0",
        "stylelint-order": "^4.1.0"
    }
}
